/*---------------------*

* {
	border:2px dashed grey;
} 

*--greyed out for now--*/

body { 
	background-color: Raleway;
	font-size: 20px;
	font-family: 'Raleway';
}

.body {
	background-color:Raleway;
	float:center;
	border:1px solid black;
	margin:40px 40px 40px 40px;

.header {
	background-color:Raleway;
}

.content {
	background-color:Raleway;
}

img {
	height:150px; width:150px; 
}







