body {
    background-color:rgb(221, 221, 221);
}

div {
	border-radius: 5px;
}

#header {
	z-index: 1;
	position: fixed;
	width: 100%;
	margin-top: -28px;
	margin-left: -18px;
	height: 60px;
	background-color:#fff;
	margin-bottom: 10px;
	border:1px solid grey;
	padding-left:15px;
	font-size: 25px;
	color: ##555;

}

#name {
	float:left;
	margin-left: 5px;
	padding-top: -15px;
	padding-left:0px;
	font-family: 'Raleway';
	color:#555;

}

#name:hover{
	float:left;
	margin-left: 5px;
	padding-top: -15px;
	padding-left:0px;
	font-family: 'Raleway';
	color:black;
	font-weight: bold;
}

#email{
	float:right;
	margin-right: 5px;
	padding-top: -15px;
	padding-right:0px;
	font-family: 'Raleway';
	color: ##555;
}

img{
	height:25px;
	width:25px;
}

img:hover{
	height:30px;
	width:30px;
	color:black;
}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: 'Raleway';
}

.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: 'Raleway';
	color: #000000;
}

li {
	list-style-type: square;
}

a:hover {
	font-weight: bold;
}

.right {
	float: right;
	font-family: 'Raleway';
	background-color:#fff;
	color:#555;
	margin-top: 45px;
	width: 1000px;
	height: 800px;
	margin-bottom: 10px;
	border:1px solid grey;
	padding-left:20px;
	padding-right:20px;
	clear:right;
}

.left {
	position: fixed;
	float: left;
	margin-top: 45px;
	width: 80px;
	height: 87%;
	background-color:#fff;
	border:1px solid grey;
	margin-bottom: 10px;
	clear:right;
}

#footer {
	position: relative;
	height: 42px;
	background-color:#fff;
	clear: both;
	font-family: 'Raleway';
	font-size: 14px;
	text-align: center;
	margin-left:-18px;
	margin-bottom:-20px;
	color: #ffffff;
	border:1px solid grey;
	width:110%;
}

#footer p {
	position: relative;
	padding-top: 15px
}