body {
/*    background-color:#F4F4F4;*/
	/*	background: url(/images/background_linen.png);*/
		background-color:#fff;
		width:100%;
		height:100%;
    font-size: 20px;
    font-family: 'Raleway';
    color: #333333;
    padding: 0;
    margin: 0;
}

div {
	border-radius: 0px;
}

p {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

li {
	font-size:20px;
	list-style-type: none;
	line-height: 120%;
	text-indent: 25px;
}

.circle {
	font-size:20px;
	list-style-type: circle;
	line-height: 120%;
	text-indent: 0px;
}

#header {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=90);
    -moz-opacity: 0.90;
    -khtml-opacity: 0.90;
    opacity: 0.90;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
/*	
	margin-top: -70px;
	margin-left: -18px;
	height: 60px;
*/
	background-color:#fff;
	border:1px solid grey;
	font-size: 25px
}

#header2 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=90);
    -moz-opacity: 0.90;
    -khtml-opacity: 0.90;
    opacity: 0.90;
	z-index: 1;
	position: center;
	overflow: auto;
	width: 1000px;
	background-color:#fff;
	font-size: 30px;
	border-radius: 0px;
	margin-top:0px;
	margin-left: auto;
	margin-right: auto;
	padding: 2px 0;
	/*border:1px solid grey;*/
}



#name {
	float:left;
	/*margin-left: 5px;*/
	/* make this margin-left: 0; */
/*	padding-top: -15px;
*/	padding-left:0px;
}

#name:hover{
	float:left;
	/*margin-left: 5px;*/
	padding-top: -15px;
	padding-left:0px;
	font-weight: none;
}

.email{
	float:right;
	/*margin: 0 5px 0 0;*/
	margin-left:5px;
	font-family: 'Raleway';
	color: ##555;
}

.email:last-child { 
	margin-right: none;
}

a.icons {
	display: block;
	width: 30px;
	height: 30px;
	overflow: hidden;
	margin: 3px 0 0 0;
	margin-right: 0px;
	padding: 0;
	/*border:1px solid grey;*/
}

img.shadow{
	opacity: .7;
}

img.shadow:hover{
	opacity: 1;
}

.profile {
	opacity: 1;
}

a {
	color: #333333;  
}

a:hover {
	color: #333333;
}

.header-image{ 
	background-color: #ffffff;
	background: url('../images/san_francisco.jpg') no-repeat top left;
	background-size: 100%;
	float: center;
	width:100%;
	height:120px;
	margin-top:40px;
	box-shadow: inset 0 0 30px rgba(0,0,0,.90);
	border:1px solid grey;
	background-position: 0 -280px;
	min-width:980px;
}

/*.header-image img{ 
	float: center;
	margin-left: -10px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	width:1200px;
	height:120px;
	top: 0;
	left: -10px;
	box-shadow: inset 0 0 30px rgba(0,0,0,.90);
	opacity: 0.60;
}
*/
.about {
	float: center;
	background-color:#fff;
	color:#555;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 265px;
	margin-bottom: 10px;
	/*border:1px solid grey;*/
	/*padding-left:20px;
	padding-right:20px;*/

}

.about img:hover{
	display:none;
}

.about img{
	height:225px;
	width:190px;
}

.about img:hover{
	height:225px;
	width:190px;
}

.about-image {
	float: left;
	width: 240px;
	height: 225px;
	padding-top:20px;
}

.about-content {
	float: left;
	padding-top:20px;
	width: 750px;
	height: 250px;
/*	border:1px solid grey;*/
}

.right {
	float: center;
	background-color:#fff;
	color:#555;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 1000px;
	margin-bottom: 10px;
	/*border:1px solid grey;*/
	/*padding-left:20px;
	padding-right:20px;*/
}

.right p {
	margin-left: 20px;
	margin-right: 5px;
	margin-top: -10px;
	color: #000000;
}

#footer {
	position:fixed;
	height: 32px;
	background-color:#fff;
	clear: both;
	text-align: center;
	margin-left:-12px;
	margin-bottom:0px;
	border:1px solid grey;
	width:100%;
	padding-top:5px;
	padding-left:20px;
	width: 100%;
	margin-left: -18px;
}

#footer2 {
	position: left;
	text-align: left;
	width: 1040px;
	background-color:#fff;
	font-size:25px;
	margin-left: auto;
	margin-right: auto;
}

/* Cool Menu CSS for drop down menu*/

#coolMenu,
#coolMenu ul {
    list-style: none;
    float: left;
    padding-left: 0;
    width: 250px;
}
#coolMenu {
    float: left;
}
#coolMenu > li {
    float: left;
    font-size: 30px;
    font-family: 'Raleway';
}
#coolMenu li a {
display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 50px;
    text-decoration: none;
}
#coolMenu ul {
    position: absolute;
    display: none;
    float:left;
}
#coolMenu ul li a {
    width: 80px;
}
#coolMenu li:hover ul.noJS {
    display: block;
    float: left;
    width: 200px
}

/* Main menu
------------------------------------------*/
#coolMenu {
    font-size: 25px;
    background-color:#fff;
    margin: 0 0 0 0;
  	position: left;
}
#coolMenu > li > a {
    background-color:#fff;
    font-size: 25px;
    font-weight: bold;
    float: left;
}
#coolMenu > li:hover > a {
    color: #000;
}
 
/* Submenu
------------------------------------------*/
#coolMenu ul {
    background-color:#fff;
    float: center;
    border:1px solid grey;
    margin-top: 2px;
    margin-left: -3px;
    text-align: center;
    width: 1000px;
}
#coolMenu ul li a {
		font-size: 22px;
    color: #000;
    float: left;
    padding: 0 0 0 0;
    width: 250px;
    text-align: center;
}
#coolMenu ul li:hover a {
    background: #D8D8D8;
    float: left;
    padding: 0 0 0 0;
}