body {
		background-color:#F3F3F3;
		width:100%;
		height:100%;
    font-size: 16px;
    font-family: 'Raleway';
    color: #333333;
    padding: 0;
    margin: 0;
}

div {
	border-radius: 0px;
}

p {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	line-height: 130%;
}

li {
	list-style-type: none;
	line-height: 120%;
	text-indent: 0;
}

.circle {
	list-style-type: circle;
	line-height: 120%;
	text-indent: 0px;
  margin-left: 20px;
}

#header {
  opacity: 0.90;
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color:#fff;
	box-shadow: 0 1px 4px rgba(0,0,0,0.2);
	font-size: 25px;
	height: 60px;
}

#header2 {
  opacity: 0.80;
	z-index: 1;
	position: center;
	overflow: auto;
	width: 1000px;
	background-color:none;
	font-size: 30px;
	border-radius: 0px;
	margin-top:11px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 0;
}

#header-name {
    font-size: 30px;
    background-color:none;
  	position: absolute;
  	margin-top: 0px;
    margin-left: 10px;
}

#name {
	float:left;
}

#icon-wrapper{
	margin-top: 0px;
	margin-right: 5px;
}

.icon-wrapper{
	float:right;
	font-family: 'Raleway';
	color: #555;
}

p.icon-wrapper{
	padding-left: 3px;
}

.icon-wrapper:last-child { 
	margin-right: none;
}

a.icons {
	display: block;
	width: 40px;
	height: 40px;
	overflow: hidden;
}

img.shadow{
	opacity: .7;
}

img.shadow:hover{
	opacity: 1;
}

.profile {
	opacity: 1;
}

a {
	color: #333333;  
}

a:hover {
	color: #333333;
}

#header-image{ 
	position: relative;
	background-color: #ffffff;
	background-size: 100%;
	float: center;
	width:1000px;
	height:600px;
	margin-top:0px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: inset 0 0 30px rgba(0,0,0,.90);
	border:1px solid grey;
	min-width:980px;
	z-index: 9;
}

#background-image {
	position:absolute;
}

#embedded-image {
	position:fixed;
	margin-bottom: 0px;
	margin-top: -235px;
	height:135%;
	width:110%;
	z-index: 8;
	clip:rect(0px,1000px,900px,0px);
}

#quotes {
	position:absolute;
	display:none;
	font-size: 60px;
	color: white;
}

/*Developer*/
#quotes:nth-child(4n+1) {
	margin: 250px 100px 0 25px;
	color: #EFEDD8;
}

/*Dreamer*/
#quotes:nth-child(4n+2) {
	margin: 350px 0 0 735px;
	color: #B2CCFF;
}

/*Designer*/
#quotes:nth-child(4n+3) {
	margin: 82px 0px 0 114px;
	color: #727272;
	font-size: 51px;
	word-spacing:5px;
}

/*Entrepreneur*/
#quotes:nth-child(4n+0) {
	margin: 450px 100px 0 300px;
	color:#DFE0DB;
}

.body-wrapper { 
	position: relative;
	background-size: 100%;
	float: center;
	width:1000px;
	height:1280px;
	margin-left: auto;
	margin-right: auto;
}

.about-me-space {
	width: 1000px;
	height: 700px;
	position: relative;
	z-index: 9;
	text-align:center
}

.work-space {
	width: 1000px;
	height: 300px;
	position: relative;
	z-index: 9;
	text-align:center
}

#embedded-image-div {
	background-color: white;
	margin-top: -25px;
	margin-left: 400px;
	height:2px;
	width:200px;
}

#embedded-title-image-div {
	margin-left: 460px;
	margin-top: 150px;
	height:2px;
	width:100px;
}

#embedded-title {
	color: white; 
	font-size:50px; 
	margin-top: 100px;
}

#work-embedded-title {
	color: white; 
	font-size:50px; 
	margin-top: 50px;
	width: 700px;
	margin-left: 150px;
}

#project-embedded-title {
	color: white; 
	font-size:50px; 
	margin-top: 150px;
	padding-top: 30px;
	width: 700px;
	margin-left: 150px;
}

#header-title-black {
	margin-top: 100px;
	color: black; 
	font-size:50px; 
}

#header-title-black-work {
	padding-top: 80px;
	color: black; 
	font-size:50px; 
}

#header-title-image-div {
	margin-left: 460px;
	height:2px;
	width:100px;
}

#about-header-title-image-div {
	margin-left: 390px;
	height:2px;
	margin-top: -5px;
	width:135px;
	background-color: black;
}

#work-header-title-image-div {
	margin-left: 550px;
	height:2px;
	margin-top: -55px;
	width:112px;
	background-color: black;
}

#project-header-title-image-div {
	margin-left: 500px;
	margin-top: -60px;
	height:2px;
	width:80px;
	background-color: black;
}

#about-me {
	position: relative;
	float: center;
	background-color:#fff;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 700px;
	margin-top: -50px;
	margin-bottom: 10px;
	padding-top: 20px;
	box-shadow: 0 0 4px 1px rgba(0,0,0,0.2);
	color: #818486;
	text-align: center;
	z-index: 9;
}

.about-me img{
	height:175px;
	width:175px;
}

.about-image {
	float: center;
	margin-left:auto;
  margin-right:auto;
  background-color: white;
  opacity: .95;
	width: 350px;
	height: 350px;
	padding-top:40px;
}

.about-content {
	float: center;
	margin-left:auto;
    margin-right:auto;
	padding-top:20px;
	width: 640px;
	height: 180px;
	text-align: left;
	font-size: 22px;
	color:#333c43;;
}

.right {
	position: relative;
	float: center;
	text-align: center;
	/*background-color:#fff;*/
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 695px;
	margin-top: -50px;
	margin-bottom: 10px;
	box-shadow: 0 0 4px 1px rgba(0,0,0,0.2);
	padding-top: 10px;
	color: #818486;
	z-index: 10;
}

#work-bottom-wrapper {
	width: 1000px;
	height: 120px;
	background-color: white;
}

.help-build {
	position: relative;
	float: center;
	text-align: center;
	/*background-color:#fff;*/
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 700px;
	margin-top: -50px;
	margin-bottom: 10px;
	box-shadow: 0 0 4px 1px rgba(0,0,0,0.2);
	padding-top: 10px;
	color: #818486;
	z-index: 10;
}

#help-build-top-wrapper {
	width: 1000px;
	height: 200px;
	margin-top: 0px;
	background-color: white;	
}

#header-title-black-job {
	position: relative;
	padding-top: 80px;
	color: black; 
	font-size:50px;
}

#help-build-wrapper {
	width: 1000px;
	height: 400px;
	margin-top: 50px;
}

#help-build-bottom-wrapper {
	width: 1000px;
	height: 108px;
	background-color: white;
}

#outer-job-spacer {
	width: 50px;
	height: 400px;
	background-color: white;
	float: left
}

#inner-job-spacer {
	width: 30px;
	height: 400px;
	background-color: white;
	float: left
}

#job-div-wrapper {
	position: relative;
	width: 280px;
	height: 400px;
	float: left;
	z-index: 1;
}

#job-div-wrapper:hover {
	background-color: white;
	opacity: .2;
}

#job-div {
	position: relative;
	width: 280px;
	height: 400px;
	background-color: white;
	float: left;
	z-index: 9;
	opacity: .85;
}

#job-div:hover {
	position: relative;
	background-color: white;
	-moz-transition: opacity 0.75s;
  -webkit-transition: opacity 0.75s;
  transition: opacity 0.75s;
	opacity: .6;
	z-index: 1;
}

#job-icon {
	position: relative;
	height:	100px;
	width: 100px;
	margin-top: 38px;
	margin-left: 90px;
	padding-bottom: 10px;
	z-index: 5;
}

#job-icon-gopago {
	position: relative;
	height:	120px;
	width: 120px;
	margin-top: 30px;
	margin-left: 80px;
	z-index: 5;
}

#job-title {
	position: relative;
	margin-top: 20px;
	height: 50px;
	width: 260px;
	padding: 0 10px;
	color: black;
	z-index: 5;
	color: #333c43;;
	/*background-color: yellow;*/
	font-size: 26px;
}

#job-title-underline {
	background-color: black;
	height: 1px;
	width: 80px;
	margin-left: 100px;
}

#job-description {
	position: relative;
	margin-top: 25px;
	height: 200px;
	width: 260px;
	padding: 0 10px;
	color: black;
	z-index: 5;
	color: #333c43;;
}

.nav-wrapper {
	position: relative;
	width: 100%;
	height: 73px;
	margin-top: 0px;
	top: 0;
	left: 0;
	z-index: 11;
}

.nav-wrapper-fixed {
	position: fixed;
	width: 100%;
	height: 73px;
	top: -1px;
	left: 0;
	z-index: 11;
}

.nav-wrapper .sticky {
	position: center;
	float: center;
	margin-left: auto;
	margin-right: auto;
	width: 1002px;
	height: 73px;
	z-index: 30;
	background-color: #333c43;
	opacity: .95;
}

.sticky div {
	height: 73px;
	width: 249px;
	color: #cdd0d4;
	line-height: 73px;
	font-size: 16px;
	text-align: center;
	vertical-align: top;
	text-decoration: none;
	float: left;
	opacity: .95;
	background-image: linear-gradient(#333c43,#232a30);
	box-shadow: -1px 0 0 rgba(0,0,0,0.2);
	border-left: 1px solid rgba(255,255,255,0.1);
}

.sticky div:hover {
	opacity: .90;
	color: #1492d6;
}

.sticky a {
	height: 73px;
	width: 200px;
	color: #fff;
	line-height: 73px;
	font-size: 16px;
	text-align: center;
	vertical-align: top;
	text-decoration: none;
}

/*
	Going to be used for javascript to turn into fixed div after converting
*/
.fixed {
	z-index: 60;
	position: center;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 1px 4px rgba(0,0,0,0.2);
	margin: auto;
	font-size: 25px;
	height: 73px;
	width: 1002px;
	background-color: #333c43;
	opacity: .95;
}

.fixed div {
	height: 73px;
	width: 249px;
	color: #cdd0d4;
	line-height: 73px;
	font-size: 16px;
	text-align: center;
	vertical-align: top;
	text-decoration: none;
	float: left;
	background-image: linear-gradient(#333c43,#232a30);
	box-shadow: -1px 0 0 rgba(0,0,0,0.2);
	border-left: 1px solid rgba(255,255,255,0.1);
}

.fixed div:hover {
	opacity: .60;
	background-color: #acacac;
	color: #1492d6;
}

.fixed div a {
	height: 73px;
	width: 200px;
	color: #fff;
	line-height: 73px;
	font-size: 16px;
	text-align: center;
	vertical-align: top;
	text-decoration: none;
}

.fixed div a:hover {
	height: 73px;
	width: 200px;
	line-height: 73px;
	font-size: 16px;
	text-align: center;
	vertical-align: top;
	text-decoration: none;
}

/*Add for about*/
nav.fixed > a > div.About {
	background-color: #333c43;
	background-image: -webkit-radial-gradient(center center, ellipse farthest-corner, #4a5055,#2d3134);
	color: #fff;
}

#Software.Software {
	background-color: #333c43;
	background-image: -webkit-radial-gradient(center center, ellipse farthest-corner, #4a5055,#2d3134);
	color: #fff;
}

#Work.Work {
	background-color: #333c43;
	background-image: -webkit-radial-gradient(center center, ellipse farthest-corner, #4a5055,#2d3134);
	color: #fff;
}

#Education.Education {
	background-color: #333c43;
	background-image: -webkit-radial-gradient(center center, ellipse farthest-corner, #4a5055,#2d3134);
	color: #fff;
}

.p-header-title {
	color: black; 
	font-size:24px; 
	margin-bottom: 20px;
}

.p-title {
	color: black; 
	font-size:20px; 
	margin-bottom: 5px;
}

h2 {
	color: black;
}

.about-me {
	position: relative;
	clear:both;
	float: center;
	margin: 50px 0 0 75px;
	width: 850px;
	height: 175px;
}

#about-me-underline {
	margin-left: 150px;
	margin-top: 20px;
	margin-bottom: 10px;	
	height: 1px;
	width: 50px;
	background-color: black;
}

.software-development {
	position: relative;
	clear:both;
	float: center;
	margin: 20px 0 0 75px;
	width: 850px;
	height: 290px;
	border-bottom: 1px solid #e8e8e9;
	color: #818486;
}

.work-experience {
	position: relative;
	clear:both;
	float: center;
	margin: 20px 0 0 75px;
	width: 850px;
	height: 490px;
	border-bottom: 1px solid #e8e8e9;
}

ul {
	padding: 0;
  margin-left: 0;
}

.education {
	position: relative;
	clear:both;
	float: center;
	margin: 20px 0 0 75px;
	width: 850px;
	height: 120px;
}

.footer_image_div {
	position: relative;
	clear:both;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	width: 800px;
	height: 150px;
	z-index: 2;
	margin-top: -125px;
}

#footer_image {
	float: right;
	width: 120px;
	height: 120px;
}

hr {
	width: 800px;
	color: #F3F3F3;
	align: "center";
}

#footer {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10px;
	width: 1000px;
	height: 50px;
	color: #A1A1A1;
	z-index: 9;
	padding: 30px 0 0px 20px;
	word-spacing:8px;
	background-color:#F3F3F3;
}

#footer-wrapper {
	height: 30px;
	width: 965px;
	border-bottom: 1px solid #D4D4D4;
}

#footer a {
	color: #A1A1A1;
	-webkit-transition:color .3s ease-in; 
}

#footer a:hover {
	color: #333333;;
}

a#footer-link{
	color: #A1A1A1;
	text-decoration: none;
}

/* FancyBox Modal */

.txt {
	display: inline-block;
	color: #676767;
	width: 425px;
	font-family: Arial, Tahoma, sans-serif;
	margin-left: 8px;
	margin-bottom: 10px;
	border: 1px dotted #ccc;
	padding: 5px 9px;
	font-size: 1.2em;
	line-height: 1.4em;
}

.txt2 {
	display: inline-block;
	color: #676767;
	width: 425px;
	font-family: Arial, Tahoma, sans-serif;
	margin-left: 5px;
	margin-bottom: 10px;
	border: 1px dotted #ccc;
	padding: 5px 9px;
	font-size: 1.2em;
	line-height: 1.4em;
}

.txtarea {
	display: block;
	resize: none;
	color: #676767;
	font-family: Arial, Tahoma, sans-serif;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 520px;
	height: 150px;
	border: 1px dotted #ccc;
	padding: 5px 9px;
	font-size: 1.2em;
	line-height: 1.4em;
}

.txt:focus,
.txtarea:focus {
	border-style: solid;
	border-color: #bababa;
	color: #444;
}

input.error,
textarea.error {
	border-color: #973d3d;
	border-style: solid;
	background: #f0bebe;
	color: #a35959;
}

input.error:focus,
textarea.error:focus {
	border-color: #973d3d;
	color: #a35959;
}

#send {
	color: #dee5f0;
	display: block;
	cursor: pointer;
	padding: 5px 11px;
	font-size: 1.2em;
	border: solid 1px #224983;
	border-radius: 5px;
	background: #1e4c99;
		background: -webkit-gradient(linear, left top, left bottom, from(#2f52b7), to(#0e3a7d));
			background: -moz-linear-gradient(top, #2f52b7, #0e3a7d);
				background: -webkit-linear-gradient(top, #2f52b7, #0e3a7d);
					background: -o-linear-gradient(top, #2f52b7, #0e3a7d);
						background: -ms-linear-gradient(top, #2f52b7, #0e3a7d);
							background: linear-gradient(top, #2f52b7, #0e3a7d);
								filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f52b7', endColorstr='#0e3a7d');
}

#send:hover {
	background: #183d80;
		background: -webkit-gradient(linear, left top, left bottom, from(#284f9d), to(#0c2b6b));
			background: -moz-linear-gradient(top,  #284f9d, #0c2b6b);
				background: -webkit-linear-gradient(top, #284f9d, #0c2b6b);
					background: -o-linear-gradient(top, #284f9d, #0c2b6b);
						background: -ms-linear-gradient(top, #284f9d, #0c2b6b);
							background: linear-gradient(top, #284f9d, #0c2b6b);
								filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#284f9d', endColorstr='#0c2b6b');
}

#send:active {
	color: #8c9dc0;
		background: -webkit-gradient(linear, left top, left bottom, from(#0e387d), to(#2f55b7));
			background: -moz-linear-gradient(top,  #0e387d,  #2f55b7);
				background: -webkit-linear-gradient(top, #0e387d, #2f55b7);
					background: -o-linear-gradient(top, #0e387d, #2f55b7);
						background: -ms-linear-gradient(top, #0e387d, #2f55b7);
							background: linear-gradient(top, #0e387d, #2f55b7);
								filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e387d', endColorstr='#2f55b7');
}