body {
    background-color:rgb(221, 221, 221);
    font-size: 20px;
    font-family: 'Raleway';
    color: #333333;
}

div {
	border-radius: 0px;
}

#header {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=90);
    -moz-opacity: 0.90;
    -khtml-opacity: 0.90;
    opacity: 0.90;
	z-index: 1;
	position: fixed;
	width: 100%;
	margin-top: -70px;
	margin-left: -18px;
	height: 60px;
	background-color:#fff;
	border:1px solid grey;
	padding-left:15px;
	padding-bottom:2px;
	font-size: 25px;
}

#header2 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=90);
    -moz-opacity: 0.90;
    -khtml-opacity: 0.90;
    opacity: 0.90;
	z-index: 1;
	position: center;
	width: 1040px;
	height: 50px;
	background-color:#fff;
	margin-bottom: 10px;
	font-size: 30px;
	border-radius: 0px;
	margin-top:-5px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom:5px;
}

#name {
	float:left;
	margin-left: 5px;
	padding-top: -15px;
	padding-left:0px;
}

#name:hover{
	float:left;
	margin-left: 5px;
	padding-top: -15px;
	padding-left:0px;
	font-weight: none;
}

#email{
	float:right;
	margin-right: 5px;
	padding-top: -15px;
	padding-right:0px;
	font-family: 'Raleway';
	color: ##555;
}

img{
	height:30px;
	width:30px;
	margin-top:3px;
}

img:hover{
	height:35px;
	width:35px;
	margin-top:0px;
}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
}

.right p {
	margin-left: 20px;
	margin-right: 5px;
	margin-top: -10px;
	color: #000000;
}

li {
	list-style-type: square;
	font-size:20px;
}

a:hover {
	font-weight: bold;
}

.right {
	float: center;
	background-color:#fff;
	color:#555;
	margin-top: 45px;
	margin-left: auto;
	margin-right: auto;
	width: 980px;
	height: 1100px;
	margin-bottom: 10px;
	border:1px solid grey;
	padding-left:20px;
	padding-right:20px;
}

/* --------------------------- 
   Take Away Fixed bar for now
   ---------------------------
.left {
	position: fixed;
	float: left;
	margin-top: 42px;
	width: 100px;
	height: 90%;
	background-color:#fff;
	border:1px solid grey;
	margin-bottom: 10px;
	text-align: center;
}


.navbar{
	margin-top:0px;
}

.button{
	width: 90px;
	height: 60px;
	vertical-align: middle;
	text-align:center;
	border:1px solid grey;
	margin:auto;
	margin-top:5px;
	background-color:#F5F5F5;
	font-weight:bold;
	line-height:60px;
	color:#333333;
}
*/

li{
	list-style-type: circle;
}

#footer {
	position:fixed;
	height: 32px;
	background-color:#fff;
	clear: both;
	text-align: center;
	margin-left:-12px;
	margin-bottom:0px;
	border:1px solid grey;
	width:100%;
	padding-top:5px;
	padding-left:20px;
	width: 100%;
	margin-left: -18px;
}

#footer2 {
	position: left;
	text-align: left;
	width: 1040px;
	background-color:#fff;
	font-size:30px;
	margin-left: auto;
	margin-right: auto;
}