<p>Please fill in the following form if you would like to contact us.</p>
<form action="/contact" method="post">
  <label for="name">Your Name:</label>
  <input type="text" name="name">
  <br>
  <label for="email">Your email address:</label>
  <input type="text" name="email">
  <br>
  <label for="to">Your message:</label>
  <textarea name="message" rows="16" cols="28"></textarea>
  <br>
  <button type="submit" title="Submit" value="Send" class="button">Submit</button>
</form>